body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    color: white;
    background-color: #6A5E8A;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 100px;
}

header {
    position: fixed;
    width: 100%;
    background-color: #8661E9;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1024px;
    margin: 0 auto;

}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;

}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px;
}

.menu a {
    font-size: 18px;
    line-height: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

nav ul li:hover {
    background: #958FA6;
}

.section1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh);
    background-color: #958FA6;
    color: white;
}

.perfil {
    border-radius: 500px;
    height: 150px;
}

.cajacentral {
    margin-top: 12%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 55%;
}

.cajapresentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #A29AB8;
    padding: 20px;
}

.cajaperfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #B8B8BA;
}

.parrafo1 {
    margin-top: 10%;
    color: black;
}

.section2 {
    width: 100%;
    height: calc(85vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #978BB9;
}

.parrafohab{
    padding-bottom: 50px;
}

.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margenimg {
    margin-left: 20px;
    width: 70px;
}

.section3 {
    width: 100%;
    height: calc(110vh);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.proyectos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    background-color: #6A5E8A;
    padding: 50px;
}

.contenedor {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.cajaproyecto {
    width: 300px;
    background-color: #A29AB8;
    border-radius: 20px;
}

.imagenproyecto {
    width: 100%;
    height: 150px;
    background-image: url(img/revenge.png);
    background-size: cover;
    border-radius: 20px;
}

.imagenproyecto2 {
    width: 100%;
    height: 150px;
    background-image: url(img/carpinchos.png);
    background-size: cover;
    border-radius: 20px;
}

.imagenproyecto3 {
    width: 100%;
    height: 150px;
    background-image: url(img/app.png);
    background-size: cover;
    border-radius: 20px;
}

.tituloproyecto h3 {
    padding: 10px;
    font-size: 25px;
    text-decoration: underline;
}

.parrafoproyecto {
    padding: 10px;
    font-size: 20px;
}

.link {
    padding: 20px;
    font-size: 20px;
}

footer{
    width: 100%;
    background-color: #8661E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

.imgfooter {
    margin: 1em;
    width: 50px;
}